h1 {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.cell {
    border: 1px solid lightgray;
    background-color: white;
    box-sizing: border-box;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    width: 554px;
    height: 554px;
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
}

.menu {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
}

.button, .btnReset {
    padding: 5px;
}